<div id="createuser">
    <table>
        <tr>
            <td>
                <label>Project:</label>
            </td>
            <td>
                <textarea></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <label>AssignToUser:</label>
            </td>
            <td>
                <textarea></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <label>Details:</label>
            </td>
            <td>
                <textarea></textarea>
            </td>
        </tr>

        <tr>
            <td>
               <button>Save</button>
            </td>
            <td>
                <button>Delete</button>
            </td>
            <td>
                <button>Cancel</button>
            </td>
        </tr>
    </table>
    
    </div>
    


