<div>
    <table>
        <tr>
            <td>
               
                <a class="material-icons"  width="14" height="24" viewBox="0 0 24 24" routerLink="/CreateTask">CreateTask</a>
         
    
            </td>
            </tr>
            <tr>
            <td>
                <a class="material-icons"  width="14" height="24" viewBox="0 0 24 24" routerLink="/UpdateTask">UpdateTask</a>
         
            </td>
        </tr>
        <tr>
            <td>
                <a class="material-icons"  width="14" height="24" viewBox="0 0 24 24" routerLink="/ShowTask">ShowTask</a>
         
            </td>
        </tr>
    </table>
    
    