
<div id="createuser">
<table>
    <tr>
        <td>
            <label>FirstName:</label>
        </td>
        <td>
            <textarea></textarea>
        </td>
    </tr>
    <tr>
        <td>
            <label>Email:</label>
        </td>
        <td>
            <textarea></textarea>
        </td>
    </tr>
    <tr>
        <td>
            <label>LastName:</label>
        </td>
        <td>
            <textarea></textarea>
        </td>
    </tr>
    <tr>
        <td>
           <button>Save</button>
        </td>
        <td>
            <button>Cancel</button>
        </td>
    </tr>
</table>

</div>
