<div>
<table>
    <tr>
        <td>
           
            <a class="material-icons"  width="14" height="24" viewBox="0 0 24 24" routerLink="/CreateUser">CreateUser</a>
     

        </td>
        </tr>
        <tr>
        <td>
            <a class="material-icons"  width="14" height="24" viewBox="0 0 24 24" routerLink="/CreateUser">UpdateUser</a>
     
        </td>
    </tr>
    <tr>
        <td>
            <a class="material-icons"  width="14" height="24" viewBox="0 0 24 24" routerLink="/ShowUSer">ShowUser</a>
     
        </td>
    </tr>
</table>

