<div id="UpdateProject">
    <table>
        <tr>
            <td>
                <label>Name:</label>
            </td>
            <td>
                <p><input type="text" id="name" name="name" [(ngModel)]="name"></p>
            </td>
        </tr>
        <tr>
            <td>
                <label>Details:</label>
            </td>
            <td>
                <p><input type="text" id="details" name="details" [(ngModel)]="details"></p>
            </td>
        </tr>

        <tr>
            <td>
               <button onclick="updateproject()">Save</button>
            </td>
            <td>
                <button onclick="deleteproject()">Delete</button>
            </td>
            <td>
                <button>Cancel</button>
            </td>
        </tr>
    </table>
    
    </div>